#drawer-add-address .ant-drawer-header {
  padding: 8px;
}

#drawer-add-address .ant-drawer-body {
  padding: 0;
}

#drawer-add-address-form .ant-drawer-header {
  padding: 8px;
}

#drawer-add-address-form .ant-drawer-body {
  padding: 0;
}
